
@import "fonts.scss";

$fa-font-path:        "../fonts";
@import "fa/font-awesome";

$primary: #83014c;
$headings-font-family: 'Barlow', sans-serif;
$font-family-base: 'Noto Serif', serif;


$font-size-base: 1.0625rem;
$font-size-xs: 0.625rem;
$font-size-sm: 0.875rem;
$font-size-md: 1.125rem;
$font-size-lg: 1.5rem;
$font-size-title: 2rem;

$font-weight-reg: 400;
$font-weight-bold: 500;
$font-weight-bolder: 600;

$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 1.5rem;
$space-xl: 2rem;

$wine-red: #771646;
$purple: #3E274B;
$darkgrey: #46463D;
$beige: #D5D2B8;
$beige-light: linear-gradient(0deg, rgba(213, 210, 184, 0.2), rgba(213, 210, 184, 0.2)), #FFFFFF;
$white: #FFF;

$h-space: 3.4rem;
$v-space: 3.1875rem;

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}


body {
  font-family: $font-family-base;
  font-size: $font-size-base;

  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6
{
  font-family: $headings-font-family;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: $font-size-title;
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: $font-size-md;
}

h6 {
  font-size: $font-size-base;
}

/**
 * Header navigation
 */
header.top {
  color: $wine-red;
  font-family: $headings-font-family;

  border-top: $font-size-xs solid $wine-red;

  padding: $v-space $h-space;

  display: flex;
  flex-direction: row;
  align-items: center;

  a {
    color: $wine-red;
    text-decoration: none;
    font-weight: 500;
    font-size: $font-size-md;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logo {
    width: 155px;
    height: auto;
    margin-bottom: -$space-xl;
  }

  .title {
    font-size: $font-size-title;
    margin-left: 44px;
  }

  .main-navbar {
    margin-left: auto;
    min-width: 50%;
  }

  ul.navbar {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    li {
      list-style: none;
      margin: 0 $space-md;
      //max-width: 2 * $h-space;
      text-align: center;
      white-space: break-spaces;
    }
    li:last-child {
      margin-right: 0;
    }
  }
}

/**
 *
 */
.main-content {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}


/**
 * Footer
 */
footer {
  margin-top: auto;
  padding: $v-space $h-space;

  background-color: $darkgrey;
  color: $beige;
  font-family: $headings-font-family;
  font-size: $font-size-lg;
  font-weight: $font-weight-reg;
  line-height: 24px;

  .logo {
    margin-bottom: 3 * $space-md;
  }

  .title {
    display: block;
    font-size: $font-size-title;
    white-space: break-spaces;
    line-height: 2.125rem;
    width: min-content;
  }

  a {
    color: $beige;
    text-decoration: none;
  }

  .footer-content {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-gap: 3rem 4rem;

    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        padding: $space-lg 0;
        font-weight: $font-weight-bolder;
      }
    }

    ul > li > ul {
      margin-top: $space-sm;
    }

    ul > li > ul > li {
      font-size: $font-size-md;
      font-weight: $font-weight-reg;
      padding: $space-sm 0;
    }
  }

  .contact-card {
    margin-top: 1.5rem;
    a {
      display: block;
      font-size: $font-size-sm;
      font-weight: $font-weight-reg;
    }
  }

  .footer-headings {
    grid-area: 1 / 1 / 1 / 1;
  }
  .menu-1 {
    grid-area: 1 / 2 / 1 / 2;
  }
  .menu-2 {
    grid-area: 1 / 3 / 1 / 3;
  }
  .menu-3 {
    grid-area: 1 / 4 / 1 / 4;
  }
  .social {
    grid-area: 1 / 5 / 1 / 5;
    text-align: center;
    font-size: $font-size-base;
    padding-top: $space-lg;
  }

  .partners {
    p {
      margin-bottom: $space-md;
    }
    grid-area: 2 / 2 / 2 / 2;
  }

  .footer-copyright {
    grid-area: 3 / 5 / 3 / 5;
    text-align: end;
    font-size: $font-size-sm;
  }
}