
@import "fonts.scss";

$fa-font-path:        "../fonts";
@import "fa/font-awesome";

/**
 * Globals
 */
// region Global
$primary: #83014c;
$headings-font-family: 'Barlow', sans-serif;
$font-family-base: 'Noto Serif', serif;


$font-size-base: 1.0625rem;
$font-size-xs: 0.625rem;
$font-size-sm: 0.875rem;
$font-size-md: 1.125rem;
$font-size-lg: 1.5rem;
$font-size-title: 2rem;

$font-weight-reg: 400;
$font-weight-bold: 500;
$font-weight-bolder: 600;

$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 1.5rem;
$space-xl: 2rem;

$wine-red: #771646;
$purple: #3E274B;
$darkgrey: #46463D;
$beige: #D5D2B8;
$beige-light: linear-gradient(0deg, rgba(213, 210, 184, 0.2), rgba(213, 210, 184, 0.2)), #FFFFFF;
$white: #FFF;

$h-space: 3.4rem;
$v-space: 3.1875rem;

$breakpoint-tablet: 1024px;
$breakpoint-phone: 576px;

html {
  // Dynamic font-size test
  //font-size: calc(15px + 0.190625vw);
  height: 100vh;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;

  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6
{
  font-family: $headings-font-family;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: $font-size-title;
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: $font-size-md;
}

h6 {
  font-size: $font-size-base;
}

a {
  color: $wine-red;
  text-decoration: none;
}

@media (max-width: $breakpoint-tablet) {
  h1 {
    font-size: 3.375rem;
  }

  body {
    font-size: $font-size-sm;
  }
}

@media (max-width: $breakpoint-phone) {
  h1 {
    font-size: $font-size-lg;
  }

}
// endregion

// region Components

.button-primary {
  color: $primary;
  border: 2px solid $primary;
  border-radius: 5px;
  padding: 0.75rem 1.25rem;
  display: inline-block;
  white-space: nowrap;
  font-family: $headings-font-family;
  font-weight: $font-weight-bold;
  background-color: $white;
}

input,
textarea {
  border: 1px solid $beige;
  border-radius: 5px;
  display: block;
  padding: $space-sm;
  margin-bottom: $space-sm;
  box-sizing: border-box;
  width: 100%;
  font-family: $headings-font-family;
  font-weight: $font-weight-bold;
  font-size: $font-size-md;
}

.form-group ~ button[type='submit'] {
  margin-top: $space-sm;
}

// endregion

// region Home page sections
.hero {
  h1 {
    margin-top: 0;
  }
  h1:last-child {
    margin-bottom: 0;
  }
  padding: 5rem 25%;

  p.intro {
    font-size: 1.75rem;
    font-weight: $font-weight-bold;
    font-family: $headings-font-family;
  }

  li {
    list-style-type: '— ';
  }

  @media (max-width: $breakpoint-tablet) {
    max-width: unset;
    margin-left: $h-space;
    margin-right: $h-space;
  }
}

.paper {
  background-image: url(../images/doc-paper-bgd-yellow.jpg);
  padding: 5rem 25%;
}

.home.video {
  display: flex;
  align-items: center;
  flex-direction: column;

  img {
    object-fit: contain;
    width: 100%;
  }
}

.home.services {
  padding: 5rem $h-space;
  display: flex;
  align-items: center;
  flex-direction: column;

  > p {
    margin-top: 0;
  }

  .resource-cards {
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 3rem 0 0 0;
    padding: 0;
    li {
      list-style: none;
    }
  }

  .resource-card {
    display: grid;
    grid-template-rows: 1fr 1.25fr;
    border-radius: 10px;
    background: $beige-light;

    .resource-img {
      overflow: hidden;
      img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .resource-info {
      display: flex;
      flex-direction: column;
      padding: 3rem;
      align-items: start;
      header {
        font-family: $headings-font-family;
        font-size: 1.75rem;
        font-weight: $font-weight-bolder;
      }
      p {
        // FIXME: line height?
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        line-clamp: 3;
        -webkit-box-orient: vertical;
      }

      a.button-primary {
        align-self: start;
      }
    }
  }

  @media (max-width: $breakpoint-tablet + 300px) {
    .resource-cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: $breakpoint-phone + 200px) {
    .resource-cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.home.latest {
  padding: 5rem 15%;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  .latest-cards {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }

  .latest-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    header {
      font-family: $headings-font-family;
      font-size: 1.75rem;
      font-weight: $font-weight-bolder;
    }

    a.button-primary {
      align-self: start;
    }
  }

  @media (max-width: $breakpoint-tablet + 300px) {
    .latest-cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: $breakpoint-phone + 200px) {
    .latest-cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

// endregion

// region About page sections
.people {
  .person-list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
  .person {
    .person-image {
      width: 16.25rem;
      height: 16.25rem;
      border-radius: 50%;
    }
  }

  @media (max-width: $breakpoint-phone + 200px) {
    .person-list {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

// endregion

// region Contact page
.contact-info {
  padding: 0 25% 10rem 25%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;

  .form {
    // Hide labels
    label {
      @extend .sr-only;
    }
  }

  .person-list {
    margin-bottom: 5rem;
    grid-template-columns: 1fr;
    .person {
      display: grid;
      grid-column-gap: 1rem;
      grid-template-rows: min-content auto;
      grid-template-columns: min-content auto;
      grid-template-areas: "img name" "img email";

      img.person-image {
        grid-area: img;
        width: 3.75rem;
        height: 3.75rem;
      }
      .person-name {
        grid-area: name;
        font-family: $headings-font-family;
        font-weight: $font-weight-bolder;
      }
      .person-email {
        grid-area: email;
        font-size: $font-size-sm;
      }
    }
  }
}

// endregion

/**
 * Header navigation
 */
header.top {
  color: $wine-red;
  font-family: $headings-font-family;

  border-top: $font-size-xs solid $wine-red;

  padding: $v-space $h-space;

  display: flex;
  flex-direction: row;
  align-items: center;

  a {
    font-size: $font-size-md;
    font-weight: $font-weight-bold;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logo {
    width: 155px;
    height: auto;
    // Negative margin to push down centre line of logo
    // so the 'H' aligns with nav bar.
    margin-bottom: -$space-xl;
  }

  .title {
    font-size: $font-size-title;
    margin-left: 44px;
  }

  .main-navbar {
    margin-left: auto;
    min-width: 50%;

    // Hide hamburger toggle
    label[for='hb-toggle'],
    input#hb-toggle,
    span.hb {
      display: none;
    }
  }

  ul.navbar {
    margin: 0;
    padding: $space-sm 0 0 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    li {
      list-style: none;
      margin: 0 $space-md;
      text-align: center;
      white-space: break-spaces;
    }
    li:last-child {
      margin-right: 0;
    }
  }

  // Turn menu into a hamburger pop-out at widths below.
  // NB: largely borrowed from: https://codepen.io/erikterwan/pen/EVzeRP
  @media (max-width: $breakpoint-tablet) {
    .logo,
    .logo img {
      width: 117px;
    }
    .title {
      margin-left: 33px;
    }

    .main-navbar {
      min-width: unset;

      // Hamburger toggle
      input#hb-toggle {
        display: block;
        width: 40px;
        height: $font-size-lg;
        position: relative;
        float: right;
        right: 7px;

        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */

        -webkit-touch-callout: none;
      }
      span.hb {
        display: block;
        width: 30px;
        height: 3px;
        margin-bottom: 5px;
        position: relative;
        top: $space-sm;

        background: $purple;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0;

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
      }

      span.hb:first-child {
        transform-origin: 0 0;
      }

      span.hb:nth-last-child(2) {
        transform-origin: 0 100%;
      }

      ul.navbar {
        z-index: 0;
        position: absolute;
        box-sizing: border-box;
        top: 0;
        right: 0;
        // When toggle is unchecked menu is positioned off-screen
        width: 0;
        overflow: hidden;
        padding: 2 * $v-space 0;

        flex-direction: column;
        align-items: unset;
        justify-content: unset;

        li {
          text-align: unset;
          margin-bottom: $space-lg;
          // important to prevent an odd resize in transition
          white-space: nowrap;
        }
        background-color: $darkgrey;
        color: $beige;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);

        a {
          color: $beige;
          font-weight: $font-weight-bolder;
          font-size: $font-size-lg;
        }
      }

      // When the hamburger toggle is checked, move the lines to a cross...
      input#hb-toggle:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: $beige-light;
      }

      input#hb-toggle:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }

      input#hb-toggle:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
      }

      // ... and position the menu onscreen
      input#hb-toggle:checked ~ span ~ span ~ span ~ ul.navbar {
        width: Max(50%, 500px); // Note: Uppercase Sass/Css disambiguation here
        padding-left: $h-space;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */

        transition: width 0.4s, padding-left 0.4s cubic-bezier(0.77,0.2,0.05,1.0);
      }
    }
  }

  // Phone width adjustments
  @media (max-width: $breakpoint-phone) {
    .logo,
    .logo img {
      width: 69px;
    }
    .logo {
      margin-bottom: -1rem;
    }
    .title {
      font-size: $font-size-md;
      margin-left: $space-md;
    }

    .main-navbar {
      input#hb-toggle {
        width: 25px;
      }

      span.hb {
        width: 23px;
      }

      input#hb-toggle:checked ~ span {
        transform: rotate(45deg) translate(1px, 3px);
      }

      input#hb-toggle:checked ~ span ~ span ~ span ~ ul.navbar {
        right: 0;
        left: 0;
        width: 100%;
      }
    }
  }
}

/**
 * Main content
 */
.main-content {
}

/**
 * Footer
 */
footer {
  margin-top: auto;
  padding: $v-space $h-space;

  background-color: $darkgrey;
  color: $beige;
  font-family: $headings-font-family;
  font-size: $font-size-lg;
  font-weight: $font-weight-reg;
  line-height: 24px;

  a {
    color: inherit;
  }

  .logo {
    margin-bottom: 2 * $space-lg;
  }

  .title {
    display: block;
    font-size: $font-size-title;
    white-space: break-spaces;
    line-height: 2.125rem;
    width: min-content;
  }

  a {
    color: $beige;
    text-decoration: none;
  }

  .footer-content {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-template-areas: "headings menu1 menu2 menu3 social" ". partners partners . ." ". . . copyright copyright";
    grid-gap: 3rem 4rem;

    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        padding: $space-lg 0;
        font-weight: $font-weight-bolder;
      }
    }

    ul > li > ul {
      margin-top: $space-sm;
    }

    ul > li > ul > li {
      font-size: $font-size-md;
      font-weight: $font-weight-reg;
      padding: $space-sm 0;
    }
  }

  .contact-card {
    margin-top: $space-lg;
    a {
      display: block;
      font-size: $font-size-sm;
      font-weight: $font-weight-reg;
    }
  }

  .footer-headings {
    grid-area: headings;
  }
  .menu-1 {
    grid-area: menu1;
  }
  .menu-2 {
    grid-area: menu2;
  }
  .menu-3 {
    grid-area: menu3;
  }
  .social {
    grid-area: social;
    text-align: center;
    font-size: $font-size-base;
    padding-top: $space-lg;
  }

  .partners {
    p {
      margin-top: 0;
      margin-bottom: $space-md;
    }
    grid-area: partners;
  }

  .footer-copyright {
    grid-area: copyright;
    text-align: end;
    align-self: end;
    font-size: $font-size-sm;
  }

  // Tablet adjustments
  @media (max-width: $breakpoint-tablet) {
    .footer-content {
      grid-row-gap: 0;
      grid-template-areas: "headings menu1 menu2 social" ". menu3 menu2 . " "partners partners copyright copyright";
    }

    .footer-headings {

      .logo {
        margin-bottom: $space-lg;
      }
      .logo img {
        width: 117px;
        height: auto;
      }
      .title {
        font-size: $font-size-lg;
      }

      font-size: $font-size-md;
    }

    .contact-card {
      display: none;
    }

    .partners {
      font-size: $font-size-md;
    }
  }

  @media (max-width: $breakpoint-phone) {
    .footer-content {
      grid-template-areas: "headings" "menu1" "menu2" "menu3" "social" "partners";

      ul > li {
        padding: $space-md;
      }

      ul > li > ul {
        padding-left: $space-md;
      }
    }
    .footer-headings {
      display: flex;
      .title {
        width: max-content;
        margin-left: $space-lg;
      }
    }
    .social {
      text-align: unset;
      margin-bottom: $space-xl;
    }
    .contact-card {
      display: block;
    }
    .footer-copyright {
      display: none;
    }
  }
}